

<div>
    <div class="div1">
        <p-menubar [model]="items">
            <button pButton type="button" label="Iniciar sesion" (click)="this.loginserviceService.login()" *ngIf="this.loginserviceService.getislogin()==false"  class="p-button-text"></button>
            <button pButton type="button" label="Cerrar sesion" (click)="this.loginserviceService.logout()" *ngIf="this.loginserviceService.getislogin()" class="p-button-text"></button>
        </p-menubar>
    </div>
</div> 