.parent {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 10% repeat(2, 20%) 30% 20% 10%;
  grid-column-gap: 25px;
  grid-row-gap: 5px;
  justify-self: center;
}

.div1 {
  grid-area: 2 / 1 / 3 / 2;
}
.div2 {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: center;
  color: darkcyan;
}
.div3 {
  grid-area: 2 / 3 / 3 / 4;
  justify-self: center;
  color: darkcyan;
}
.div4 {
  grid-area: 2 / 4 / 3 / 5;
  justify-self: center;
  color: darkcyan;
}
.div5 {
  grid-area: 2 / 5 / 3 / 6;
}
.div6 {
  grid-area: 3 / 1 / 4 / 2;
}
.div7 {
  grid-area: 3 / 2 / 4 / 3;
  justify-self: center;
  color: darkcyan;
}
.div8 {
  grid-area: 3 / 3 / 4 / 4;
  justify-self: center;
  color: darkcyan;
}
.div9 {
  grid-area: 3 / 4 / 4 / 5;
  justify-self: center;
  color: darkcyan;
}
.div10 {
  grid-area: 3 / 5 / 4 / 6;
}
.div11 {
  grid-area: 4 / 1 / 5 / 6;
}
.div12 {
  grid-area: 5 / 1 / 6 / 2;
}
.div13 {
  grid-area: 5 / 2 / 6 / 3;
}
.div14 {
  grid-area: 5 / 3 / 6 / 4;
}
.div15 {
  grid-area: 5 / 4 / 6 / 5;
}
.div16 {
  grid-area: 5 / 5 / 6 / 6;
}
.div17 {
  grid-area: 1 / 1 / 2 / 6;
  justify-self: center;
  font-family: 'Courier New', Courier, monospace;
}
.div18 {
  grid-area: 6 / 1 / 7 / 6;
}
.div19 {
  grid-area: 7 / 1 / 8 / 6;
}
