<p-galleria
  [value]="images"
  [responsiveOptions]="responsiveOptions"
  [containerStyle]="{ 'max-width': '100%' }"
  [numVisible]="5"
  [circular]="true"
  [autoPlay]="true"
  [transitionInterval]="2000"
>
  <ng-template pTemplate="item" let-item>
    <img [src]="item.previewImageSrc" style="width: 100%; display: block" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img [src]="item.thumbnailImageSrc" style="display: block; width: 100%" />
    </div>
  </ng-template>
</p-galleria>
<div class="parent">
  <div class="div17">
    <h1>INGENIERIA AGILA & SANCHEZ</h1>
  </div>
  <div class="div1"></div>
  <div class="div2">
    <i class="pi pi-desktop" style="font-size: 5rem"></i>
    <h2>MULTI PLATFORM</h2>
  </div>
  <div class="div3">
    <i class="pi pi-bolt" style="font-size: 5rem"></i>
    <h2>MAXIMUN SPEED</h2>
  </div>
  <div class="div4">
    <i class="pi pi-lock" style="font-size: 5rem"></i>
       <h2>SAFE CONNECTION</h2>
  </div>
  <div class="div5"></div>
  <div class="div6"></div>
  <div class="div7">
    <i class="pi pi-check-circle" style="font-size: 5rem"></i>
      <h2>QUALITY CONTROL</h2>
  </div>
  <div class="div8">
    <i class="pi pi-globe" style="font-size: 5rem"></i>
      <h2>OPTICAL FIBER</h2>
  </div>
  <div class="div9">
    <i class="pi pi-shield" style="font-size: 5rem"></i>
      <h2>TELECOMMUNICATIONS</h2>
  </div>
  <div class="div10"></div>
  <div class="div11">
    <p-card>
      <h1>Contactanos</h1>
    </p-card>
  </div>
  <div class="div12">
    <p-card>
      <span class="block text-500 font-medium mb-3">INSTALACIONES</span>
      <div class="text-900 font-medium text-xl">1502</div>
    </p-card>
  </div>
  <div class="div13">
    <p-card>
      <span class="block text-500 font-medium mb-3">DISEÑOS</span>
      <div class="text-900 font-medium text-xl">1532</div>
    </p-card>
  </div>
  <div class="div14">
    <p-card>
      <span class="block text-500 font-medium mb-3">IMPLEMENTACIONES</span>
      <div class="text-900 font-medium text-xl">1252</div>
    </p-card>
  </div>
  <div class="div15">
    <p-card>
      <span class="block text-500 font-medium mb-3">PLANIFICACIONES</span>
      <div class="text-900 font-medium text-xl">1652</div>
    </p-card>
  </div>
  <div class="div16">
    <p-card>
      <span class="block text-500 font-medium mb-3">CAPACITACIONES</span>
      <div class="text-900 font-medium text-xl">752</div>
    </p-card>
  </div>
  <div class="div18"></div>
  <div class="div19"></div>
</div>
